body {
    background: linear-gradient(to right, #333333, #aaaaaa, #333333); /* Фиолетовый градиент */
}

footer {
    background: linear-gradient(to right, #cccccc, #aaaaaa, #333333); /* Фиолетовый градиент */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     background: linear-gradient(to right, #cccccc, #aaaaaa, #333333); /* Фиолетовый градиент */
}
.custom-rounded {
        border-radius: 5px; /* Установите нужное значение радиуса */
    }
.custom-margin {
        margin: 5px; /* Установите нужное значение отступа */
    }

#text {
  text-indent: 20px;
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 5px 15px 5px 15px;
  font-family: Verdana, Helvetica, sans-serif,  Arial,"Times New Roman";
  font-style: italic;
  text-align: justify;
}