body {
    background: linear-gradient(to right, #333333, #aaaaaa, #333333); /* Фиолетовый градиент */
}

footer {
    background: linear-gradient(to right, #cccccc, #aaaaaa, #333333); /* Фиолетовый градиент */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
     background: linear-gradient(to right, #cccccc, #aaaaaa, #333333); /* Фиолетовый градиент */
}
.custom-rounded {
        border-radius: 5px; /* Установите нужное значение радиуса */
    }
.custom-margin {
        margin: 5px; /* Установите нужное значение отступа */
    }
p {
 text-indent: 20px;
 padding: 5px 0px;
 text-align: justify;
}

#text {
  text-indent: 20px;
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 5px 15px 5px 15px;
  font-family: Verdana, Helvetica, sans-serif,  Arial,"Times New Roman";
  font-style: italic;
  text-align: justify;
}

#clock {
    font-size: 0.8rem;
    font-family: Arial, sans-serif;
    text-align: center;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    align-items: center;     /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: none;
    }

#scrollToTop svg {
    width: 100%;        /* Размер иконки относительно кнопки */
    height: 100%;
    display: block;    /* Убираем лишние отступы */
}

/* Опционально: анимация при наведении */
#scrollToTop:hover svg {
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

.img-left {
    float: left;
    margin: 0 15px 10px 0;
}

.img-right {
    float: right;
    margin: 0 0 10px 15px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-full-width {
    width: 100%;
    height: auto;
}